__pycache__
.vscode
checkpoints/*
cifar/
/cifar
cifar
data/
/data
data
deprecated/
/deprecated
deprecated
fashion/
/fashion
fashion
features/
/features
features
flower102/
/flower102
flower102
wandb
*.pdf
.venv