__pycache__
.vscode
checkpoints/*
cifar/
/cifar
cifar
data/
/data
data
deprecated/
/deprecated
deprecated
fashion/
/fashion
fashion
features/
/features
features
/features_last
features_last
flower102/
/flower102
flower102
wandb
.venv

/assets
/eval

*.png
*.pdf

dump*

scripts/run.sh